<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.nddmwdf.program.servlet.LoginServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.nddmwdf.program.servlet.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>GarbageServlet</servlet-name>
        <servlet-class>GarbageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GarbageServlet</servlet-name>
        <url-pattern>/GarbageServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GarbageDelete</servlet-name>
        <servlet-class>GarbageDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GarbageDelete</servlet-name>
        <url-pattern>/GarbageDelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GabageAlter</servlet-name>
        <servlet-class>GabageAlter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GabageAlter</servlet-name>
        <url-pattern>/GabageAlter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

</web-app>