*{
    padding: 0;
    margin: 0;
}
html ,body{
    height: 100%;
    /*background-image: url("../img/memphis-mini.png");*/
    /*background-repeat: repeat;*/
}
a{
   text-decoration: none;
    color: #000;
}
.newinfo_left{
    width: 10%;
    /*background-color: #e0e0e0;*/
    float: left;
    background-color: #eef3e1;
    height: 100%;
    box-shadow: 10px 10px 5px #888888;
}
 .newinfo_left ul li{
    list-style: none;
    line-height: 90px;
    letter-spacing: 1px;
    padding-left: 32px;
}
.newinfo_left img{
    width: 50px;
    height: 50px;
    padding-left: 50px;
    /*float: left;*/
}
.newinfo_center{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 273px;
    /*margin-left: 289px;*/
    background-image: url(../img/fred-tougas-japan-6-600x398.jpg);
    background-repeat: no-repeat;
    margin-top: 60px;
}
h2{
    text-align: center;
}
.newinfo_new{
    width: 550px;
    height: 300px;
    margin-top: 20px;
   background-color: #fff;
    margin-left: 16px;
    letter-spacing: 1px;
    padding: 10px;
    opacity: 0.8;
}
.newinfo_bottom{
    width: 150px;
    height: 20px;
    margin-top: 40px;
    color: #a8a8a8;
    font-size: 12px;
    position: relative;
}
.return a{
    width: 50px;
    height: 10px;
    margin-left: 140px;
    position: absolute;
    top: 27px;
    left: -138px;
    font-size: 14px;
}
.new_center-right img{
    width: 18%;
    height: 545px;
    position: absolute;
    top: 0;
    left: 980px;


}
