a:link {
    color: black;
}		/* 未访问的链接 */
a:visited {
    color: black;
}	/* 已访问的链接 */
a:hover {
    color: black;
    text-decoration: none;
}	/* 鼠标移动到链接上 */
a:active {
    color: black;
}
h3{
    display: inline-block;
}